<% include("../Layouts/header.ejs") %>

<h2>Welcome, <%= admin.name %></h2>

<a href="/admin/dashboard">DashBoard</a>

<table>
    <tr>
        <td><img src="/userimages/<%= admin.image %>" alt="/userimages/<%= admin.image %>"></td>
    </tr>
    <tr>
        <td>Name :</td>
        <td><%= admin.name %></td>
    </tr>
    <tr>
        <td>Email :</td>
        <td><%= admin.email %></td>
    </tr>
    <tr>
        <td>Mobile :</td>
        <td><%= admin.mobile %></td>
    </tr>
</table>

<a href="/admin/logout">Logout</a>

<% include("../Layouts/footer.ejs") %>
